@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentPortal.Web.Models.AddStudentViewModel

<h1>Öğrenci Ekle</h1>

<form id="addForm" method="post">
    <div class="mt-3">
        <label class="form-label">Ad Soyad</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>

    <div class="mt-3">
        <label class="form-label">Telefon No</label>
        <input type="text" class="form-control" asp-for="Phone" />
    </div>

    <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="Subscribed" asp-for="Subscribed" />
        <label class="form-check-label" for="Subscribed">Abone Ol</label>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    $(document).ready(function () {
        $('#addForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Add", "Students")',
                data: $(this).serialize(),
                success: function () {

                    $('#addForm :input').val("");
                    $('#Subscribed').prop('checked', false);
                },
                error: function () {
                    alert("Öğrenci eklenirken bir hata oluştu");
                }
            });
        });
    });
    </script>